<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve static files from /public or /themes
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(themes|public)/ - [L]

    # Route all other requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
