{% extends 'base.twig.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard">
        <h3>Welcome to the Admin Dashboard!</h3>
        <div class="stats">
            <div class="stat-box">
                <p>Users: 100</p>
            </div>
            <div class="stat-box">
                <p>Posts: {{ postcount }}</p>
            </div>
            <div class="stat-box">
                <p>Pages: {{ pagecount }}</p>
            </div>
        </div>
    </div>
{% endblock %}
