{% extends 'base.twig.html' %}

{% block title %}Pages{% endblock %}

{% block content %}
    <h3>Page Management</h3> <a href="/admin/pages/newpage" class="btn btn-secondary">New Page +</a>
    <table class="page-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                {% for page in pages %}
                    <tr>
                        <td>{{ page.metadata.title }}</td>
                        <td>{{ page.metadata.slug }}</td>
                        <td>
                            <a href="#" class="btn btn-primary">Edit</a> | <a href="#" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% else %}

            </tr>
            <!-- More page rows here -->
        </tbody>
    </table>

    {% endfor %}
{% endblock %}
