{% extends 'base.twig.html' %}

{% block title %}Users{% endblock %}

{% block content %}
    <h3>User Management</h3>
    <table class="user-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Rold</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <a href="#">Edit</a> | <a href="#">Delete</a>
                    </td>
                </tr>                
            {% else %}
                
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
