<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description ?? '' }}">
    <title>{{ title ?? 'Pebble CMS' }}</title>
    <link rel="stylesheet" href="{{ asset('style.css', 'css') }}"> <!-- Link to your CSS -->
</head>
<body>
    <header>
        <h1>{{ title ?? 'Pebble CMS' }}</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/page/contact">Contact</a> <!-- Example of a link to a static page -->
        </nav>
    </header>

    <main>

        <img src="{{ asset('wizard.jpg', 'images')}}" alt="" class="img-sml">

        <pre>
            {{ asset('style.css', 'css') }}
        </pre>

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} Pebble CMS. All rights reserved.</p>
    </footer>
</body>
</html>
