<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description ?? '' }}">
    <title>{{ title ?? 'Pebble CMS' }}</title>
    <link rel="stylesheet" href="{{ asset('style.css', 'css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/" class="site-title">{{ title ?? 'Pebble CMS' }}</a></h1>
            <nav>
                <a href="/">Home</a>
                <a href="/page/contact">Contact</a>
                <a href="/page/about">About</a>
                <ul>
                    {% for category in siteCategories %}
                    <li><a href="/category/{{ category }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ "now"|date("Y") }} Pebble CMS. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
