<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ asset_path('style', 'css') }}">
    <script src="{{ asset_path('main', 'js') }}"></script>
</head>
<body>
    <header>
        <h1><a href="/">Pebble CMS</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/page/about">About</a></li>
                <li><a href="/page/contact">Contact</a></li>
                {% if categories is defined and categories is not empty %}
                    {% for category in categories %}
                        <li><a href="/category/{{ category }}">{{ category }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ "now"|date("Y") }} PebbleCMS</p>
    </footer>
</body>
</html>
