{% extends "base.twig.html" %}

{% block content %}
    <h1>Posts in "{{ category }}"</h1>

    {% if posts is empty %}
        <p>No posts found in this category.</p>
    {% else %}
        <ul>
        {% for post in posts %}
            <li>
                <a href="/post/{{ post.metadata.slug }}">{{ post.metadata.title }}</a>
                <small>by {{ post.metadata.author }} on {{ post.metadata.date }}</small>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
